<h1>New Article</h1>
<%= form_with model: @article do |f| %>
    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
        <% @article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= f.label :body  %><br>
        <%= f.text_area :body %>
        <% @article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>